<server description="Sample Liberty server">
    <featureManager>
      <feature>restConnector-1.0</feature>
      <feature>appSecurity-2.0</feature>
      <feature>jsp-2.3</feature>
      <feature>jndi-1.0</feature>
      <feature>jaxrs-1.1</feature>
      <feature>el-3.0</feature>
      <feature>distributedMap-1.0</feature>
      <feature>servlet-3.1</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>

    <webApplication location="jenkins.war">
      <application-bnd>
        <security-role name="admin">
          <user name="jenkins-admin" />
          <group name="jenkins-admins" />
        </security-role>
      </application-bnd>
    </webApplication>

    <httpEndpoint host="*" httpPort="${default.http.port}" id="defaultHttpEndpoint"/>
    
    <basicRegistry id="basic" realm="customRealm">
      <user name="jenkins-admin" password="test" />
      <group name="jenkins-admins">
        <member name="jenkins-admin" />
      </group>
    </basicRegistry>
    


</server>
