<server description="Sample Liberty server">
    <featureManager>
      <feature>restConnector-1.0</feature>
      <feature>appSecurity-2.0</feature>
      <feature>jsp-2.3</feature>
      <feature>jndi-1.0</feature>
      <feature>jaxrs-1.1</feature>
      <feature>el-3.0</feature>
      <feature>distributedMap-1.0</feature>
      <feature>servlet-3.1</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="-1"/>

    <webApplication location="jenkins.war">
      <application-bnd>
        <security-role name="admin">
          <user name="jenkins-admin"/>
          <group name="jenkins-admins"/>
        </security-role>
      </application-bnd>
    </webApplication>

    <httpEndpoint host="*" httpPort="${default.http.port}"
        httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>
    
    <basicRegistry realm="jenkins">
      <user name="jenkins-admin" password="ATAAAAAI5v7u/UFNAotAAAAAIPphSgYUGQrZ0OrJX5hhsdHkzzIK8/MQN4blNSkv0gZm"/>
      <group name="jenkins-admins">
        <member name="jenkins-admin" />
      </group>
    </basicRegistry>

</server>
